%p#notice= notice
%h1 Users
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.latitude
        %td= user.longitude
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New User', new_user_path

= form_tag(import_users_path, method: :post, enctype: 'multipart/form-data') do
  %div
    = label_tag(:user_batch, 'Select file to upload')
    = file_field_tag(:user_batch)
  %div= submit_tag('upload')
