.row
  .col
    %h3 Users
.row
  .col-md-3
  .col-md-3
  .col-md-3
  .col-md-3
- @users.each do |user|
  .row
    .col-md-3= user.name
    .col-md-3= user.latitude
    .col-md-3= user.longitude

= form_tag(import_users_path, method: :post, enctype: 'multipart/form-data') do
  .row
    .col-md-3= label_tag(:user_batch, 'Select file to upload')
    .col-md-9= file_field_tag(:user_batch)
.row
  .col-md-3
  .col-md-6= submit_tag('upload')
