.container.mb-3
  .row.mb-3
    .col-sm-12.col-md-8
      %h3 Calculate distance for users
      %p
        Upload a JSON file with users and location coordinates, and calculate the distance to a
        chosen point
      %p
        Input file should be text format with one user record in json format per row. Permitted
        user attributes are user_id, name, latitude and longitude.
  .row
    .col-sm-12.col-md-8
      .card.border-info.mb-3
        .card-header Upload your user file
        .card-body
          = form_tag(import_users_path, method: :post, enctype: 'multipart/form-data') do
            .container
              .row
                .col-md-5= label_tag(:user_batch, 'Select file to upload')
                .col-md-7= file_field_tag(:user_batch)
              .row
                .col-md-5
                .col-md-7= submit_tag('Upload')

- if @users&.any?
  .container.mb-5
    .row.mb-2
      .col-sm-12
        %h3 Results
    = form_tag(download_users_path, method: :post) do
      .row
        .col-md-1
          %strong ID
        .col-md-3
          %strong Name
        .col-md-3
          %strong Co-ordinates
        .col-md-3
          %strong
            Distance to Intercom (km)
        .col-md-2.text-center
          = submit_tag('Download selected')

      - @users&.each_with_index do |user, i|
        - distance = (user.distance_to(latitude: 53.339428, longitude: -6.257664) / 1000).round(2)
        .row.pb-2.pt-2{ class: i.odd? ? 'odd-row' : nil }
          .col-md-1
            = user.user_id
          .col-md-3
            = user.name
          .col-md-3
            = succeed(',') do
              = user.latitude
            = user.longitude
          .col-md-3
            = distance
          .col-md-2.text-center
            = check_box_tag('ids[]', user.user_id, distance <= 100)