!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title IntercomEvent
    = csrf_meta_tags
    = csp_meta_tag
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container.mb-20
      .row
        .col-sm-12
          %h1.mt-30.mb-20 Intercom Office Distance Calculator
      .navbar.navbar-expand-lg.navbar-dark.bg-primary
        %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav
            %li.nav-item
              =link_to 'Home', root_path, class: 'nav-link'

    .container.mb-10
      - unless notice.blank?
        .row
          .alert.alert-dismissible.alert-info
            %button.close{ type: 'button', data: { dismiss: 'alert' } }
            = notice
    = yield
